*{
    /*primary colors*/
    --soft-red : hsl(7, 99%, 70%);
    --yellow : hsl(51, 100%, 49%);
    --dark-saturated-cyan-graph-design-text : hsl(167, 40%, 24%);
    --dark-blue-photo-text : hsl(198, 62%, 26%);
    --dark-moderate-cyan-footer : hsl(168, 34%, 41%);

    /*neutral colors*/
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);

    /*body copy*/
    font-size: 18px;
    /*DELETING predefined*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
}
header{
    background: url(./images/mobile/image-header.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items:center;
    height: 500px;
    padding: 20px 20px;
}
.nav-div-bar:hover{
    cursor:pointer;
}

.three-line-bar{
    width: 35px;
    height: 2.5px;
    background-color: white;
    margin: 5px 0;
}

.lemon{
    width: 100%;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#big-text{
    padding-top:30px ;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 65px;
    color: var(--White);
    text-align: center;
    display: block;
}
.nav{
    background-color: var(--White);
    width: 80%;
    height: 60%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.nav-bar{
    text-decoration: none;
    color: var(--Dark-grayish-blue);
    margin: 20px;
}

.contact{
    color: var(--Very-dark-desaturated-blue);
    font-family: 'Fraunces', serif;
    font-weight: 900;
    background-color: var(--yellow);
    border-radius: 20px;
    font-size: 0.8rem;
    padding: 10px 13px;
}
.articles{
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.article-img{
   margin-left: auto;
   margin-right: auto;
   display: block;
   width: 100%;
}

.article-sides{
    background-color: var(--White);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px 20px;
}

.big-text-article{
    color: var(--Very-dark-desaturated-blue);
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    display: block;
}
p{
    color: var(--Dark-grayish-blue);
    text-align: center;
    margin-top: 10px;
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
}
#learn-more{
    border-style: none;
    white-space: nowrap;
    margin-top: 30px;
    padding-bottom: 0px;
    
}

.graph-photo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.background-img{
    background-size: cover;
    width: 100%;
    height: 500px;
    padding: 330px 20px 15px  ;
}
.graph-design{
    background-image: url(./images/mobile/image-graphic-design.jpg); 
        
}
.photography{
    background-image: url(./images/mobile/image-photography.jpg);
}
.graph-div *{
    color: var(--dark-saturated-cyan-graph-design-text);
}
.photo-div *{
    color: var(--dark-blue-photo-text);
}
.client-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
}
h3{
    color: var(--Grayish-blue);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Fraunces', serif;
    font-weight: 400;
}
.clients{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.images-clients{
    border-radius: 300px;
    width: 70px;
    height: auto;
}
.name{
    margin-top: 30px;
    color: var(--Very-dark-desaturated-blue);
    font-weight: 900;
    font-family: 'Fraunces', serif;
}
.job{
    font-size: 11px;
    font-weight: 700;
    color: var(--Grayish-blue);
}

.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.inside-container {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 25vh;
}

.inside-container1 {
    background-image: url(./images/desktop/image-gallery-milkbottles.jpg);
}
.inside-container2 {
    background-image: url(./images/desktop/image-gallery-orange.jpg);
}
.inside-container3 {
    background-image: url(./images/desktop/image-gallery-cone.jpg);
}
.inside-container4 {
    background-image: url(./images/desktop/image-gallery-sugarcubes.jpg);
}

footer{
    background-color: var(--dark-moderate-cyan-footer);
}

.footer{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 30px;
}

.logo{
    color: var(--dark-saturated-cyan-graph-design-text);
    font-size: 1rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 800;   
}

.us {
    display: flex;
    justify-content: space-around;
    align-items:center;
    width: 100%;
    margin-top: 20px;
}
.us h4{
    font-size: 0.7rem;
    color: hsl(168, 34%, 70%);
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
}

.social{
    margin-top: 20px;

}
.social img{
    margin-left: 15px;
    
}
@media only screen and (min-width:400px) {
 .nav-div-bar{
    display: none;
 }
 .nav{
    display: flex;
    background:none;
    flex-direction: row;
    
 }
}